
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('/static/bg.png');
  /* fit to screen */
  background-size: cover;
}
</style>
</head>
<body>
<link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  project-id="YOUR_PROJECT_ID"
  agent-id="YOUR_AGENT_ID"
  language-code="en">
  <df-messenger-chat-bubble
   chat-title="VIN-Chatbot">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 16px;
  }
</style>

</style>

</body>
</html>